.wrapOverflow{
    
    overflow-y: scroll; /* Add the ability to scroll */
    width: 100%;
  }
  .wrapOverflow::-webkit-scrollbar {
    display: none;
}
.bb{
color: #75798E;
width: 9vw;
height: 4vh;
margin-right: 0.2vw;
background:#FDFDFD;
border: 1px solid #75798E;
border-radius: 8px;
text-align: center;
padding-top: 0.5vh;
}
.card_style{
  width: 10vw;
height: 9vh;
border-radius: 8px;
}
