/* לבחור את הקטע הזה בגיט */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 2.5vh;
  width: 4.8vh;
  background: #EFF3FE;
  border-radius: 12vh;
  position: relative;
  transition: background-color 0s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 1.9px;
  left: 18px;
  right: 2px;
  height: 2vh;
  width: 2vh;
  border-radius: 45px;
  transition: 0s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  right: calc(100% - 17px);
  transform: translateX(-100%);
  background:#4B62D5;
}

.react-switch-label:active .react-switch-button {
  width: 2.2vh;
 
}
/* לבחור את הקטע הזה בגיט */