.MuiDrawer-paperAnchorRight {
    left: auto;
    right: 0;
     background: #3a405e 0% 0% no-repeat padding-box !important; 
    
    border-radius: 60px 0px 0px 0px !important;
    
    opacity: 1;
    width: 17% !important; 
 
    z-index: 2;

    position: fixed;
    height: calc(100vh - 60px);
    bottom: 0px;
    right: 0px;
    width: 16%;
    opacity: 1;
    z-index: 2;

     background-color: #3A405E;
    /* background-color:red;
    color: rgb(235, 234, 234);
    display: inline-block;
    overflow-y: auto;
    padding-bottom: 78px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    border-radius: 60px 0px 0px; */
}
.MuiPaper {
    /* background: #3a405e 0% 0% no-repeat padding-box; */
    /* border: 1px solid #707070; */
    border-radius: 60px 0px 0px 0px;
    opacity: 1;
}
body{
   background-color: #d3d3d361;
   font: Medium 18px/24px SF Pro Display;
}
.fast-accses {
    fill: #5f5757;
  }
  .inputNameTemplate{
      
  }
  ::placeholder {
    color:red;
    opacity: 1; /* Firefox */
  }
  .style_dmoCanva{
    /* margin-right: 3vw; */
    margin-top: 19vh;
    height: 50vh;
    
     }