body{
    background-color: #d3d3d361;
    font: Medium 18px/24px SF Pro Display;
 }
 .labels{
     color: #EBEAEA;
     border-style: solid;
     border-color: #979797;
     border-width: 1px;
 }
 .slider.round:before {
     border-radius: 50%;
   }
   .sideLittleTitle{
    width: auto;
    margin-left: 18px;
    font-size: 14px;
    color: #75798E;
  
  }
  .sideLittleDetail{
    /* overflow:visible; */
    width: auto;
    margin-left: 18px;
    font-size: 18px;
    color: #CDCDD2;
    margin-bottom: 29px;
  
  }