body{
    background-color: #d3d3d361;
    font: Medium 18px/24px SF Pro Display;
 }
 .labels{
     color: #EBEAEA;
     border-style: solid;
     border-color: #979797;
     border-width: 1px;
 }
 .slider.round:before {
     border-radius: 50%;
   }
.sideLittleTitles{
  color: #EBEAEA;
  font-size: 13px;
  font-weight: 400;

}
  .sideTitles{
    color: #EBEAEA;
    font-size: 17px;
    font-weight: 400;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    height: 3.5vh;
    width: 6.2vh;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.5vh;
    width: 2.5vh;
    left: 4px;
    bottom: 2.8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    /* border-radius: 50%; */
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  