

.white_circleborder_background{

background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
border: none;

}
.up_button{
   
    color: #A66DFF;
    border-style: solid;
    border-width: 1px;
    border-color: #A66DFF;
    align-content: center;
    font-weight: 400; 
}
.up_button:active{
    color:white;
    background-color:  #A66DFF;
    border-style: solid;
    border-width: 1px;
    border-color:white;
image-rendering: initial;
   
}
.arow_img{
    height: 1.7vh;
    width: 2vh;
    margin-left: 1vh;
}
.underLineDiv{

    border-bottom: black;
    
}
.navTitle{
    font-weight: 500;

    padding: none;
    z-index: 2;
 
    /* z-index: 444;
    background-color: thistle;
    border-bottom: tomato;
    border-bottom-color: yellow ;
    border-bottom-width: 5px;
    border-bottom-style: solid; */
}
.navTitle:checked{
    color :#A66DFF ;
    text-decoration: underline;
    text-decoration-color:#A66DFF ;
}

.medAndSecImg{
    height: 9vh;
    width: 5vw;
}
.icon_style{
align-items:center;
    height: 4.7vh;
    width: 2.5vw;
    background-color: #E8EAEC ;
    /* padding: 20px; */
    border-radius: 50%;

    /* background-position: 15px; */

}
.icon_text{
    margin-top: 1.5vh;
    font-weight: 500;
    font-size: large;
    color: #384364;
  
}
.widget_text{
    margin-left: 7vh;
}
.widget_button{
    /* display: block; */
     border: none;
    background-color: none;
    padding: 0.8vh;
    cursor: auto;
    
} 
 .widget_button:hover{
    display: block;
    background-color: #f6f7f8;

} 
.widget_button:active{
  display: block;
  background-color: #f6f7f8;

}

.scrollbar {
    width: fit-content;
    max-height: 150px;
    overflow-y: scroll;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    /* height: 6px; */
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  
  /* custom colors  */
  .scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
  }
  .scrollbar-primary {
    scrollbar-color: #4285f4 #f5f5f5;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
  }

/* 
.wrap_flow {
    
    /* width: 25vw;
    height: 25vh; */
 
    /* overflow-y: scroll; Add the ability to scroll */
  /* }
  .wrap_flow::-webkit-scrollbar {
    display: none;
}

.wrap_flow_widget {
    

 
    overflow-y: scroll;
  }
  .wrap_flow_widget::-webkit-scrollbar {
    display: none;
}
 */ */

.imgDetails{
    height: 5vh;
    width: 5vh;
}
.ss{
        vertical-align: text-bottom;
         } 
 .styleOverFlow{
     overflow: auto;
      max-height: 17vh;
      width: 200vh;
      max-width: 45vh;
      scrollbar-3dlight-color: lawngreen;
      
       } 
        .tt{
        height: 50px;
        padding-top: 20px;
        /* margin-bottom: 15px; */
        /* width: 100px; */
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        /* top: 250px; */
        /* right: 25px; */
        /* position: absolute; */
        /* border-bottom: 2px solid yellow; */
        /* background-color:rgb(150, 58, 243) ; */

    }
    .rr{
        /* width: 20px; */
        margin-left: 23px;
        height: 50px;
        align-items: center;
        display: flex;
        position: relative;
        /* background-color:rgb(202, 165, 240) ; */
        /* border-bottom:2px solid  #A66DFF; */
    }
    .rr:checked{
      border-bottom:2px solid  #A66DFF;

    }
    .rr2{
        width: 20px;
        height: 50px;
        border-bottom: 2px solid  blue;
        background-color:lightsalmon;


    }
   
        
    .topnav {
        overflow: hidden;
        background-color: #FFFFFF;
        display: flex;
      

      }
      
      .topnav .a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        width: 100%;
        /* padding: 14px 16px; */
        text-decoration: none;
        font-size: 17px;
        width: 7vw;
        border-bottom: 2px solid rgb(192, 189, 189);
        
      }
      
    
      
      .topnav .a.active {
        border-bottom: 2.5px solid #A66DFF;
      }