

.white_circleborder_background{

background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;
border: none;

}
.up_button{
   
    color: #A66DFF;
    border-style: solid;
    border-width: 1px;
    border-color: #A66DFF;
    align-content: center;
    font-weight: 500; 
}
.up_button:active{
    color:white;
    background-color:  #A66DFF;
    border-style: solid;
    border-width: 1px;
    border-color:white;
image-rendering: initial;
   
}
.arow_img{
    height: 2vh;
    width: 2.3vh;
    margin-left: 1vh;
}
.underLineDiv{

    border-bottom: black;
    
}
.navTitle{
    font-weight: 500;

    padding: none;
    z-index: 2;
 
    /* z-index: 444;
    background-color: thistle;
    border-bottom: tomato;
    border-bottom-color: yellow ;
    border-bottom-width: 5px;
    border-bottom-style: solid; */
}
.navTitle:checked{
    color :#A66DFF ;
    text-decoration: underline;
    text-decoration-color:#A66DFF ;
}
.dividerStyle{
    top:200px;
    left: 400px;
    margin-top: 0;
    height: 6px;
 z-index: 1;
 color: red;
 width: 300px;
 height: 20px;
}






.medAndSecImg{
    height: 9vh;
    width: 9vh;
}
.icon_style{
align-items:center;
    height: 35px;
    width: 35px;
    background-color: #E8EAEC ;
    /* padding: 20px; */
    border-radius: 50%;

    /* background-position: 15px; */

}
.icon_text{
    margin-top: 1.5vh;
    font-weight: 500;
    font-size: medium;
  
}
.widget_text{
    margin-left: 7vh;
}
.widget_button{
    /* display: block; */
    border: none;
    background-color: none;
    padding: 0.8vh;

}
.widget_button:hover{
    display: block;
    background-color: #f6f7f8;

}

.widget_button:checked{
    background-color:red;
}
.wrap_flow {
    
    width: 250px;
    height: 150px;
 
    overflow-y: scroll; /* Add the ability to scroll */
  }
  .wrap_flow::-webkit-scrollbar {
    display: none;
}

.widget_button:active
{  background-color:red;}
.imgDetails{
    height: 5vh;
    width: 5vh;
}
    .ss{
        vertical-align: text-bottom;
        
    } 
    .styleOverFlow{
     overflow: auto;
      max-height: 17vh;
      width: 200vh;
      max-width: 45vh;
      scrollbar-3dlight-color: lawngreen;
      
     
    } 
        
    